<p>
  <strong>Comentario:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to "Eliminar comentario", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Estas seguro de eliminar el comentario?"
              } %>
</p>

